<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<title>Hey, I'm working!</title>
</head>
<body>
<h1>{{ greetings | safe }} </h1>
<a href="{{ url_for('routing') }}">link</a>

</body>
</html>
